<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
   
</head>
<body>
    <h3>Edit this listing</h3>
    <form method="POST" action="/listings/<%=editlisting._id%>?_method=PUT">
        <input type="text" name="listing[title]" value="<%= editlisting.title %>"><br><br>
        <textarea type="text" name="listing[description]" ><%=editlisting.description %></textarea><br><br>
        <input type="text" name="listing[price]" value="<%= editlisting.price %>"><br><br>
        <input type="text" name="listing[image]" value="<%= editlisting.image %>"><br><br>
        <input type="text" name="listing[location]" value="<%= editlisting.location %>"><br><br>
        <input type="text" name="listing[country]" value="<%= editlisting.country %>"><br><br>
        <button> Upadate !</button>
    </form>
</body>
</html>