<% layout('/layouts/boilerplate.ejs') -%>
 <body>
<div class="row mt-3" >
 
    <div class="col-6 offset-2">
      <h3><%=oneListing.title%></h3>
    </div>
      <div class="card col-6 offset-3">
        <img
          src="<%= oneListing.image.url %>"
          class="card-img-top show-img"
          alt="listings_image"
         
        />
        <div class="card-body">
          <p class="card-text">
            <%=oneListing.description%> <br />
            &#8377; <%= oneListing.price?.toLocaleString("en-IN") || 'Price Not Available' %> / night <br />
            <!-- using the toLocaleString() method to add commas in price with indian  standard -->
            <%=oneListing.location%> <br />
            <%=oneListing.country%> <br />
          </p>
        </div>
      </div>
  </body>
  <div class="show-btns  offset-3">
    <form action="/listings/<%=oneListing._id%>/edit" method="GET">
      <button type="submit" class="btn btn-dark edit-btn ">Edit</button>
    </form>
    <form action="/listings/<%=oneListing._id%>?_method=DELETE" method="post">
      <button type="submit" class="btn btn-dark offset-3 ">Delete</button>
    </form>
  </div>
  <!-- the review form -->
  <div class="col-6 offset-2 mb-3">
    <hr>
    <h4>Leave a Review</h4>
    <form action="/listings/<%=oneListing._id%>/reviews" method="POST"novalidate class="needs-validation">
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" id="rating" min="1" max="5" name="review[rating]" class="form-range">
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comment</label><br>
        <textarea name="review[comment]" id="comment" cols="40" rows="5" class="form-control" required></textarea>
        <div class="invalid-feedback">Please add a valid comment for Review</div>
      </div>
      
      <button class="btn btn-outline-dark mb-3" type="submit">Submit</button>
    </form>
    <h4>All reviews</h4>
    <ul>
      <% for(let review of oneListing.reviews){ %>
      <li><%=review.comment%> , Rating: <%=review.rating%> Stars</li>
      <% } %>
    </ul>
  </div>
</div>
</body>
